<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" routerLink="">Dashboard</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="">Home</a></li>
        <li><a routerLink="">About</a></li>
        <li><a routerLink="">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="addtools"><span class="glyphicon glyphicon-log-in"></span>Add new tools</a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<!-- <app-heroes>
</app-heroes> -->

<!-- <section class="todoapp">
  <app-todo-list-header (add)="onAddTodo($event)"></app-todo-list-header>
  <app-todo-list [todos]="todos" (toggleComplete)="onToggleTodoComplete($event)" (remove)="onRemoveTodo($event)"></app-todo-list>
  <app-todo-list-footer [todos]="todos"></app-todo-list-footer>
</section> -->

<footer class="container-fluid text-center">
  <p>Copyright@2018</p>
</footer>
