<h2 class="heading">Add New Tools</h2>
<section class="addTool">
  <!-- <app-todo-list-header (add)="onAddTodo($event)"></app-todo-list-header>
  <app-todo-list [todos]="todos" (toggleComplete)="onToggleTodoComplete($event)" (remove)="onRemoveTodo($event)"></app-todo-list>
  <app-todo-list-footer [todos]="todos"></app-todo-list-footer> -->
  <div>
    <label class="label-type">Type: </label>
    <select (change)="onTypeChange($event.target.value,$event.target.selectedOptions[0].id)" class="dropdown">
        <option value="0">--All--</option>
        <option *ngFor="let summary of todos" value={{summary.typeDescription}} id={{summary.type}}>
            {{summary.typeDescription}}
        </option>
    </select>
</div>
  <div>
    <label class="label-type">Category: </label>
    <select (change)="onCategoryChange($event.target.value,$event.target.selectedOptions[0].id)" class="dropdown">
        <option value="0">--All--</option>
        <option *ngFor="let summary of todos" value={{summary.categoryName}} id={{summary.categoryId}}>
            {{summary.categoryName}}
        </option>
    </select>
</div>
   <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" required (keyup)="onKey($event.target.value)">
    </div>
      <Button (click)="onSubmit()" class="save">Save</Button>
</section>