<!-- div class="jumbotron">
  <div class="container text-center">
    <h1>Table of DevOPs tools</h1>      
  </div>
</div>
  
<div class="container-fluid bg-3 text-center" >    
  <h3>Click on a tool to see the details..</h3><br>
  <div class="row">
    <div class="col-sm-1" *ngFor="let hero of todos"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
      <p>{{hero.id}}</p>
      <img src="https://placehold.it/150x80?text={{hero.title}}" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div>
<br> -->

<div class="legend">
  <ul class="list-1">
    <li *ngFor="let hero of categoryArr" ngClass="cat-{{hero.categoryId}}">
      <span>**</span>{{hero.categoryName}}</li>
  </ul>
  <ul class="list-2">
    <li *ngFor="let hero of typeArr" ngClass="type-{{hero.type}}">{{hero.typeDescription}}</li>
  </ul>
</div>

<div class="wrapper">
  <ul class="main">
    <li *ngFor="let hero of todos" attr.data-pos="{{hero.type}}" attr.data-nb="{{hero.categoryName}}" ngClass="cat-{{hero.categoryId}} type-{{hero.type}} cat-style-{{hero.categoryId}}">{{hero.title}}
      <span>Description</span>
    </li>
  </ul>
</div>


<div class="container-fluid" *ngIf="selectedHero">

  <h2>{{selectedHero.title | uppercase}} Details</h2>
  <div>
    <span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label>title:
      <input [(ngModel)]="selectedHero.title" placeholder="title">
    </label>
  </div>

</div>