<div class="jumbotron">
  <div class="container text-center">
    <h1>Table of DevOPs tools</h1>      
  </div>
</div>
  
<div class="container-fluid bg-3 text-center" >    
  <h3>Click on a tool to see the details..</h3><br>
  <div class="row">
    <div class="col-sm-3" *ngFor="let hero of todos"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
      <p>{{hero.id}}</p>
      <img src="https://placehold.it/150x80?text={{hero.title}}" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div><br>

<!-- <div class="container-fluid bg-3 text-center" >    
  <h3>Click on a tool to see the details..</h3><br>
  <div class="row">
    <div class="col-sm-3" *ngFor="let hero of todos1">
      <p>{{hero.id}}</p>
      <img src="https://placehold.it/150x80?text={{hero.title}}" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div><br> -->

<!--
<ul class="heroes">
  <li *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>
-->

<div class="container-fluid" *ngIf="selectedHero">

  <h2>{{selectedHero.title | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label>title:
      <input [(ngModel)]="selectedHero.title" placeholder="title">
    </label>
  </div>

</div>

